/* Community Feed */
#community_section {
    min-height: 100vh;
    text-align: center;
}

.post {
    min-height: 400px;
    width: 366px;
    margin: auto;
    background-color: #34D1BF;
    border: 2px solid #34D1BF;
    border-radius: 10px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #303030;
}

/* Adding a Post */
#post_section {
    min-height: 100vh;
    text-align: center;
}

#post_add {
    min-height: 600px;
    width: 800px;
    background-color: #808C67;
    margin: 50px auto;
}

/* Adding a Helper */



.home-nav {
    position: relative;
    width: 1440px;
    height: 75px;
    overflow: hidden;
}
  
.home-nav a {
    float: left;
    text-align: center;
    padding: 25px 0px 25px 100px;
    text-decoration: none;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #F8A830;
}

img.logo {
    display: block;
    padding: 25px 0px 25px 0px;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 10%;
}

.button {
    position: absolute;
    left: 1035px;
    right: 265px;
    top: 20px;
    bottom: 20px;

    background: #F8A830;
    border-radius: 5px;

    width: 140px;
    height: 28px;
    left: 1035px;
    right: 265px;
    top: calc(50% - 28px/2 - 0.5px);

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Colour/Secondary/White 100 (general) */

    color: #FFFFFF;
}