/* Community Feed */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,400&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

#community_section {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}

#community_header {
    text-align: left;
    margin: 1em;
    padding-left: 3em;
    padding: 1em;
}

.post {
    min-height: 10em;
    width: 30em;
    margin: 2em;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-bottom: 2em;
    padding-top: 1em;
    border-radius: 1em;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    color: #303030;
}

#community_contents {
    display: flex;
}

.post img {
    max-width: 30em;
    max-height: 20em;
    padding: 2em;
}

.post h1 {
    height: 2.3em;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 2em;
    line-height: 1.2em;
    text-transform: capitalize;
    color: #3454D1;
}

#helper_header {
    height: 1em;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0px;
    padding-top: 1em;
    line-height: 1em;
    text-transform: capitalize;
    color: #3454D1;
}

.tag {
    color: white;
    background-color: #F8A830;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding: 5px;
    stroke: 10px, #F8A830;
    border-radius: 1em;
    text-align: center;
    margin: 5px;
}

/* Adding a Post */
#post_section {
    min-height: 100vh;
    text-align: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

#post_add {
    font-family: 'Rubik', sans-serif;
    padding: 3em;
}

/* Landing Page */

.home-nav {
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 75px;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

.home-nav a {
    float: left;
    text-align: center;
    padding: 25px 0px 25px 70px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F8A830;
}

.home-button {
    color: white;
    align-items: right;
    float: right;
    background-color: #F8A830;
    font-family: 'Rubik', sans-serif;
    margin: 25px 0px 15px 100px;
    stroke: 10px, #F8A830;
    border-radius: 1em;
    text-align: center;
    margin: 5px;
}

.nav-apply {
    float: right;
    width: 25%;
    margin: 0% 0% 0% 0%;
}

.apply button {
    width: 180px;
    height: 35px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #F8A830;
    border-radius: 5px;
    border: none;
    margin: 0px 20px 0px 0px;
}

.landing {
    width: 100%;
    height: 550px;
    background: #ffffff;
    align-items: center;
    background-image:
    url('img/helpers.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.landing-content {
    float: left;
    width: 35%;
    font-family: 'Rubik', sans-serif;
    text-shadow: 4px 4px 10px #000000;
    margin:15% 0% 0% 10%;
}

.sublanding {
    width: 100%;
    height: 360px;
    background-color: #3454D1;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
}

#community_feed_sublanding {
    background-color: #d13434;
}

#helper_add_sublanding {
    background-color: #3454D1;
}

#helpers_feed_sublanding {
    background-color: #2e85cc;
}

#post_add_sublanding {
    background-color: #daac2d;
}

.sublanding-content {
    float: left;
    width: 35%;
    margin: 10%;
    color: #FFFFFF;
}

.landing-content h1 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.landing-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.about {
    width: 100%;
    height: 600px;
    background: #FFFFFF;
    mix-blend-mode: normal;
}

.about-content {
    float: left;
    width: 35%;
    margin: 10%;
}

.about-content h1 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #3454D1;
}

.about-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #303030;
}

.register-now {
    width: 100%;
    height: 400px;
    background-color: #F8A330;
}

.register-content {
    float: right;
    width: 40%;
    margin: 5%;
}

.register-content h1 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.register-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #303030;
}

.footer {
    position: relative;
    width: 100%;
    height: 224px;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

#help_section {
    font-family: 'Rubik', sans-serif;
}

.button {
    position: absolute;
    left: 1035px;
    right: 265px;
    top: 20px;
    bottom: 20px;

    background: #F8A830;

    padding-left: 20px;
    padding-right: 20px;
    padding: 5px;
    stroke: 0px, #F8A830;
    border-radius: 2em;
    margin: 5px;

    width: 140px;
    height: 28px;
    left: 1035px;
    right: 265px;
    top: calc(50% - 28px/2 - 0.5px);

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Colour/Secondary/White 100 (general) */

    color: #FFFFFF;
}

#logo_image {
    align-items: flex-start;
    max-width: 20px;
}