/* Community Feed */
#community_section {
    min-height: 100vh;
    text-align: center;
}

.post {
    min-height: 400px;
    width: 500px;
    margin: auto;
    background-color: #00ffff;
}

/* Adding a Post */
#post_section {
    min-height: 100vh;
    text-align: center;
}

#post_add {
    min-height: 600px;
    width: 800px;
    background-color: #808C67;
    margin: 50px auto;
}

/* Adding a Helper */